html{
    font-family: 'Poppins', sans-serif;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar navbar navbar"
    "aside main main main main"
    "footer footer footer footer footer";
}

navbar{
    grid-area: navbar;
    border: solid #000 1px;
    min-height: 10vh;
}
aside{
    grid-area: aside;
    border: solid #000 1px;
    min-height: 80vh;
    min-width: 20vw;
}
main{
    grid-area: main;
    border: solid #000 1px;
    min-height: 80vh;
}
footer{
    grid-area: footer;
    border: solid #000 1px;
    min-height: 10vh;
}
.grid-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    gap: 1vw;
    padding: 1rem;
    grid-auto-rows: auto;
}
.card-container{
    display: flex;
    flex-direction: column;
    border: solid #000 1px;
    border-radius: 5px;
    overflow: hidden;
    
}
.card-img{
    object-fit: cover;
    height: 20vh;    
    overflow: hidden;
}

.card-body{
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}
.color-1{
    color: #000814;
    background-color: #ffd60a;
}
.color-2{
    color: #001d3d;
    background-color: #ffc300;
}
.color-3{
    color: #003566;
    background-color: rgba(239, 187, 75, 0.872);
}
.color-4{
    color: #ffc300;
    background-color: #001d3d;
}
.color-5{
    color: #ffd60a;
    background-color: #000814;
}
.text-center{
    text-align: center;
}
.text-menu{
font-family: 'Cuprum', sans-serif;
}
.text-title1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}
.text-title2{
    font-family: 'Noto Sans Balinese', sans-serif;
    font-size: 1.5rem;
}
.text-body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
button{
  font-family: 'Roboto', sans-serif;
  background-color: #003566;
  color: #ffd60a;

}
.d-flex{
    display: flex;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}