html{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar navbar navbar"
    "aside main main main main"
    "footer footer footer footer footer";
    background-color: #d3d3d3;
}

navbar{
    grid-area: navbar;
    min-height: 10vh;
    padding: 2rem;
}
navbar img{
    max-width: 20%;
    min-width: 150px;
}
aside{
    grid-area: aside;
    min-height: 80vh;
    flex-direction: column;
    width: 15vw;
}
main{
    grid-area: main;
    min-height: 80vh;
    width: 80vw;
}
footer{
    grid-area: footer;
    min-height: 10vh;
}
.grid-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    gap: 1vw;
    grid-auto-rows: auto;
    padding: 1vw;
}
.card-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: antiquewhite;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    
}
.card-body{
    display: flex;
    flex-direction: column;
    
}
.card-body button{
    width: 100%;
    border-top: solid 1px #000814;
    border-bottom: solid 1px #000814;
    border-left: none;
    border-right: none;
}
.card-img{
    object-fit: cover;
    height: 40vh;    
    overflow: hidden;
    
    
}
aside li{
    list-style: none;
}


.color-1{
    color: #fff;
    background-color: #161a1d;
}
.color-2{
    color: #ba181b;
    background-color: #0b090a;
}
.color-3{
    color: #d3d3d3;
    background-color: #a4161a;
}
.color-4{
    color: #0b090a;
    background-color: #d3d3d3;
}
.color-5{
    color: #f5f3f4;
    background-color: #161a1d;
}
.text-center{
    text-align: center;
}
.text-menu{
font-family: 'Cuprum', sans-serif;
font-weight: 200;
color: #d3d3d3;
}
.text-menu2{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
.text-title1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}
.text-title2{
    font-family: 'ROBOTO', sans-serif;
    
    font-weight: 900;
    font-style: italic;
}
.text-body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
span{
    color: dimgrey;
}
button{
  font-family: 'Roboto', sans-serif;
  background-color: #003566;
  color: #ffd60a;

}
.d-flex{
    display: flex;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-stretch{
    justify-content: stretch;
}
.align-items-center{
    align-items: center;
}
.p-2{
    padding: 2rem;
    
}
.fs-1{
    font-size: 1vw !important;
}
.fs-2{
    font-size: 2vw !important;
}
.fs-3{
    font-size: 3vw !important;
}